asciitree==0.3.3
certifi==2022.12.7
contourpy==1.0.7
cycler==0.11.0
entrypoints==0.4
fasteners==0.18
fonttools==4.38.0
GDAL==3.6.2
geotiff==0.2.7
haversine==2.7.0
kiwisolver==1.4.4
laspy==2.3.0
matplotlib==3.6.3
numcodecs==0.11.0
numpy==1.24.1
packaging==23.0
pandas==1.5.3
Pillow==9.4.0
pyparsing==3.0.9
pyproj==3.4.1
python-dateutil==2.8.2
pytz==2022.7.1
scipy==1.10.0
six==1.16.0
tifffile==2022.4.26
zarr==2.13.6
